<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">

    <title>Choose Your Legend To Hire</title>

    <link href="product-style.css" rel="stylesheet">
</head>

<body>

    <form name="process_form" action="/process_form" method="POST">
        <header>
            <h1>Choose Your Legend To Hire</h1>
        </header>
        <br>
        <div>
            <main id="products_main_display">
                <script>
                    // takes data from the variable product from product.js array
                    // shows "product", "image", "price", and a quantity textbox labeled Quantity
                    for (i = 0; i < products.length; i++) {
                        document.write(`
                        <h2>${products[i].product}</h2>   
                        <p>${(products[i].description)}</p>
                        <h2>$${products[i].price}</h2>
                        <div><img src="${products[i].image}"></div>
                        <div><label id="quantity${i}_label"}">Number Of Gigs:</label>
                                <input type="text" placeholder="0" name="quantity${i}" 
                                onkeyup="checkQuantityTextbox(this);">         
                        </div>
                                `)
                    }
                    //below is the purchase button (book rockstars button), when pressed it will submit the information
                </script>
                <div>
                    <strong><input type="submit" value="Book Your Rockstars Now!" name="purchase_submit"></strong>
                </div>
            </main>
        </div>
        <footer id="display_footer">
            <h1>
                Sell Out Your Next Show Or Your Money Back!
            </h1>
        </footer>
    </form>

</body>

</html>