
body {
   
    font-family: Heavy Copper;
    background-image: url(images/flame.jpg);
}



 .h1{
   font-family: Heavy Copper Halftone;
 }   

/*Navigation bar*/

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
  font-size: 25px;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: black;
  text-decoration: none;
}

/*main*/


.main-nav {
  font-family: Heavy Copper;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    background-color: whitesmoke;
    margin: 30px;
    border: 5px solid black;
    border-radius: 15px;
}
.brandlogo{
  height: 70px;
}
.main-nav li {
  padding: 0 2%;
}

.nav a:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
 
}

.main-header {
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px;

}


  .box {
    
    margin-top: 5px;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    background-image: url(images/whiteflame2.jpg);
    margin: 30px;
    border: 5px solid black;
    border-radius: 15px;
    margin: 30 auto;
   height: auto;
    overflow:hidden;
}


  /*main*/
  
  
 
.title-name{
    
  font-family: Heavy Copper Halftone;
    text-align: center;
    font-size: 100px;
    font-weight: lighter;
    background-image: url(images/whiteflame2.jpg);
    margin: 30px;
    border: 5px solid black;
    margin-bottom: -20px;
    border-radius: 15px;
}


.shop-item-image {

    
    margin-left: 50px;
    float: left;
    border-radius: 15px;
    border: 5px solid black;
    margin-bottom: 100px;
   
    

    
}
.shop-item-details{
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 525px;
    text-align: left;
    
}
.shop-item-description{
    position:absolute;
    font-size: 25px;
    margin-top: 460px;
    margin-left: 50px;
text-align: left;    
}
.mySlides{
  border-radius: 15px;
    border: 5px solid black;
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}
.box2{
  margin-top: 30px;
  background-color: whitesmoke;
  margin-right: 200px;
 margin-left: 200px;
  height: auto;
    width: auto; 
    border-radius: 15px;
    border: 5px solid black;
}
.h2{
 padding-right: 100px;
 padding-left: 100px;
  height: auto;
    width: auto; 
}
.h1-receipt{
  font-family: Heavy Copper;

}

